@font-face {
    font-family: "BodyFont";
    src: url(./assets//fonts//ABCWhyte/ABCWhyte/ABCWhyte-Regular-Trial.otf);
    font-weight: 400;
}



body {
    margin: 0;
    font-family:"BodyFont" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.new_google_form {
    height: 100vh;
}

.new_google_form .new_google {
    background: none !important;
    border-color: #000 !important;
    color: #000 !important;
    font-size: 20px !important;
}

.new_form {
    padding: 37px !important;
    box-shadow: 0px 0px 9px 1px #cecece;
    border-radius: 17px;
}

.new_link_a,
.new_link_a span a {
    color: #000;
    text-decoration: none;
}

.form-control:focus {
    box-shadow: unset !important;
    border: 3px solid blue !important;
}

.form-control {
    border: 3px solid #000 !important;
}

.form-control {
    border: 3px solid #000;
}

.btn-primary {
    background: #000 !important;
    border-color: #000 !important;
}

